{% extends "main/layoute.html" %}

{% block title %}
    <title> Первая страница</title>
{% endblock %}

{% block content %}
    <h4>Это первая страница на уроке №2</h4>
    <p><strong>Плюсы {{caption}} по сравнению с Flask:</strong></p>
    <ul>
        <li>Встроенная административная панель.</li>
        <li>Полноценный ORM для работы с базами данных.</li>
        <li>Строгая структура проекта, облегчающая масштабирование.</li>
        <li>Автоматическая генерация форм.</li>
        <li>Поддержка аутентификации и авторизации из коробки.</li>
    </ul>
{% endblock %}
