{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Фреймворк Django</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
   
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <aside class="col-md-3 bg-dark text-white p-3 d-flex flex-column align-items-center">
                <img src="{% static 'main/img/django.jpg' %}" alt="Django" class="img-fluid rounded mb-3" style="max-width: 100px;">
                <h5>{% url 'page1' %}</h5>
                {% include "main/nav.html" %}
            </aside>
            
            <main class="col-md-9 p-4">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
