<ul>
  <li>
    <a href="{% url 'page1' %}"> Первая страница</a>
  </li>
  <li>
    <a href="{% url 'page2' %}">Вторая страница</a>
  </li>
  <li>
    <a href="{% url 'page3' %}"> Третья страница</a>
  </li>
  <li>
    <a href="{% url 'page4' %}">Четвёртая страница</a>
  </li>
  <li>
    <a href="{% url 'news_home' %}">Новости от ИИ</a>
  </li>
  <li>
    <a href="{% url 'add_news' %}">Добавить новость</a>
  </li>
  <li>
    <a href="{% url 'movie_project_films' %}">Кинопроекты</a>
  </li>
  <li>
    <a href="{% url 'add_reviews' %}">Отзыв о фильме</a>
  </li> 
</ul>