{% extends "main/layoute.html" %}

{% block title %}
    <title> Вторая страница</title>
{% endblock %}

{% block content %}
    <h4>Это вторая страница на уроке №2</h4>
    <p><strong>Минусы {{caption}} по сравнению с Flask:</strong></p>
    <ul>
        <li>Более высокая сложность для небольших проектов.</li>
        <li>Меньшая гибкость из-за строгой структуры.</li>
        <li>Более высокие требования к ресурсам сервера.</li>
        <li>Медленнее для простых API-приложений.</li>
        <li>ORM Django может быть сложнее, чем SQLAlchemy.</li>
    </ul>
{% endblock %}
